<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div>
        <div style="font-size: 15px;text-align: center;width: 400px;">
            <div>
                <img src="https://geonoo.s3.ap-northeast-2.amazonaws.com/mail1.jpeg" width="400" alt=""/>
            </div>
        </div>
        <div style="background: #FFD600;width: 400px;">
            <div style="padding-top: 65px;font-size: 30px;font-weight: 600;text-align: center;">
                <span th:text="${code}"></span>
            </div>
            <br><br>
            <div>
                <img src="https://geonoo.s3.ap-northeast-2.amazonaws.com/mail2.jpeg" width="395" alt=""/>
            </div>
        </div>
    </div>
</body>
</html>